/*Temp background*/
body{
	background: 			rgba(30,30,30,0.5);
	background-image: 	url('/assets/images/wood.jpg');
	background-repeat: 	repeat;
	height: 				100%;
	width: 					100%;
}


@corner: 7px;

.nano { 
	background: 	#bba; 
	z-index:		1;
	opacity:		0.5;
	
	.content { padding: 20px; }
	.pane   { background: #888; }
	.slider { background: #111; padding: 5px;}
}
	
#itemMenu{
	width: 		160px; 
	height: 	240px; 
	
	position:	fixed;
	top:		40%;
	right:		0;
	
	-webkit-border-top-left-radius: @corner;
	-webkit-border-bottom-left-radius: @corner;
	-moz-border-radius-topleft: @corner;
	-moz-border-radius-bottomleft: @corner;
	border-top-left-radius: @corner;
	border-bottom-left-radius: @corner;
}

.item {
	width:				40%;
	height:			40%;
	border:			2px solid black;
	border-radius: 	2px;
	background: 		background: #888;
}

#imageMenu{
	width: 		160px; 
	height: 	160px;
	
	position:	fixed;
	top:		60px;
	right:		0;
	
	-webkit-border-top-left-radius: @corner;
	-webkit-border-bottom-left-radius: @corner;
	-moz-border-radius-topleft: @corner;
	-moz-border-radius-bottomleft: @corner;
	border-top-left-radius: @corner;
	border-bottom-left-radius: @corner;
}

#itemDesc{
	width: 		600px; 
	height: 	175px; 
	
	position:	fixed;
	bottom:	0;
	left:		5%;
	
	-webkit-border-top-left-radius: @corner;
	-webkit-border-top-right-radius: @corner;
	-moz-border-radius-topleft: @corner;
	-moz-border-radius-topright: @corner;
	border-top-left-radius: @corner;
	border-top-right-radius: @corner;
}
